#container {
    float:left;
    width:100%;
    position:relative;
}

#song-list-container {
  float:left;
}

#song-list {
    float:left;
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 20%;
    overflow-y: scroll;
}
#song-view-container {
    float:left;
    width: 65%;
    padding-left: 20%;
    min-height: 100%;
}
